<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>AgeGuesser Play</title>
    </head>

    <body>
        <%- include('common/header') %>

        <h1>GAME OVER</h1>
        <h2>Your score: <%- score %></h2>
        <h3>Guess History:</h3>

        <table>
            <tr>
                <th>Name</th>
                <th>Your Guess</th>
                <th>Correct Age</th>
                <th>Score</th>
            </tr>
            <% history.forEach((h) => { %>
            <tr>
                <td><%- h.name %></td>
                <td><%- h.userGuess %></td>
                <td><%- h.correctAge %></td>
                <td><%- h.score %></td>
            </tr>
            <% }) %>
        </table>

        <a href="/play">Play Again</a>
    </body>
</html>
